main {
  min-width: 400px;
  margin: auto;
  max-width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  margin: 10px;
}

.center {
  text-align: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
}

.comment-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.comment-list-reply {
  margin-left: 3rem;
}

textarea {
  margin: 5px 10px;
}

.comment-reply-button {
 display: inline-flex;
 margin-top: 1.2rem;
 vertical-align: top;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment-list-content {
  -ms-flex: 1;
  flex: 1;
}

.comment-list-header {
  font-size: 0.9rem;
}

.comment-list-user {
  font-weight: 750;
}

#new-comment-submitted {
  font-size: 0.9rem;
  background-color: rgba(0,225,0,0.25);
  color: mediumseagreen;
  width: 25%;
  margin: auto;
  border-radius: 10px;
  font-weight: 450;
}

.btn-upvote {
  color:gray;
  background-color: white;
  border: none;
  font-size: 1.2rem;
  transition-duration: 0.4s;
}

.btn-upvote-upvoted {
  color:darkorange;
}

.btn-upvote:hover {
  color:darkorange;
}

.upvote-count {
  font-size: 0.9rem;
}


.btn-reply {
  border:none;
  color:gray;
  background-color: white;
  font-size: 0.9rem;
}

.btn-reply:hover {
  text-decoration: underline;
}

.avatar {
  width: 50px;
  margin: 0 8px 0 8px;
  border-radius: 30px;
}