main {
  min-width: 400px;
  margin: auto;
  max-width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  text-align: center;
}

.comment-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.comment-list-reply {
  margin-left: 3rem;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment-list-content {
  -ms-flex: 1;
  flex: 1;
}

.comment-list-header {
  font-size: 0.9rem;
}

.comment-list-user {
  font-weight: 750;
}

.btn-upvote {
  color:gray;
  background-color: white;
  border: none;
  font-size: 14pt;
  transition-duration: 0.4s;
}

.btn-upvote-upvoted {
  color:darkorange;
}

.btn-upvote:hover {
  color:darkorange;
}

.upvote {
  color:gray;
  padding-right: 10px;
  font-size: 0.9rem;
}

.btn-reply {
  border:none;
  color:gray;
  background-color: white;
  font-size: 0.9rem;
}

.btn-reply:hover {
  text-decoration: underline;
}

.avatar {
  width: 50px;
  margin: 0 8px 0 8px;
  border-radius: 30px;
}